</main>
<footer>
  <ul>
    <li><a href="/">support@secretshare.com</a></li>
    <li><a href="/">Privacy Policy</a></li>
    <li><a href="/">Terms of Service</a></li>
  </ul>
  <p>© 2025 SecretShare. All rights reserved.</p>
</footer>
<script src="https://kit.fontawesome.com/b3a1302b55.js" crossorigin="anonymous"></script>
<script src="/script.js"></script>
</body>

</html>