<%- include('partials/header') %>

    <section class="hero">
      <h2>Welcome to Secrets App</h2>
      <div class="btnGroup">
        <a id="loginBtn" href="/login">Login</a>
        <a id="registerBtn" href="/register">Register</a>
      </div>
    </section>

  <%- include('partials/footer') %>