<%- include('partials/header') %>

  <section class="formContainer">
    <h2>Login</h2>
    <form action="/login" id="loginForm" method="POST">
      <label>
        <p>Email</p>
        <input type="email" name="email" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" placeholder="you@example.com">
      </label>
      <label class="passLabel">
        <p>Password</p>
        <input type="password" name="password" id="password" minlength="6" maxlength="25"
          placeholder="Min 6 chars , 1 upper , 1 lower & 1 number"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{6,}$" required>
        <span class="togglePass" onclick="togglePassword()"><i id="toggleIcon" class="fa-solid fa-eye-slash"></i></span>
      </label>
      <div class="actions">
        <button type="submit">Login</button>
        <span>Do not have a account?
          <a href="/register">Register</a></span>
      </div>
    </form>
  </section>

  <%- include('partials/footer') %>